rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /user-data/{id}/{documents=**} {
    	allow read;
    	allow write: if request.auth.uid == id;
    }

    match /groups/{groupId} {
    	allow read: if request.auth.uid in resource.data.students || request.auth.uid in resource.data.teachers;
    	allow update: if request.auth.uid in resource.data.teachers;
      allow create;

      match /topics/{topicId} {
       	allow read: if request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.students
       		|| request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.teachers;
        allow write: if request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.teachers;
      }

      match /resources/{resourceId} {
       	allow read: if request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.students
       		|| request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.teachers;
        allow write: if request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.teachers;

        match /answers/{answerId} {
          allow read: if (
            request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.students
            && resource.data.userId == request.auth.uid
          ) || request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.teachers;
          allow create: if request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.students
            && request.resource.data.userId == request.auth.uid
            && get(/databases/$(database)/documents/groups/$(groupId)/resources/$(resourceId)).data.type == 'exercise';
        }

        match /grades/{answerId} {
          allow read: if (
            request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.students
            && get(/databases/$(database)/documents/groups/$(groupId)/resources/$(resourceId)/answers/$(answerId)).data.userId == request.auth.uid
          ) || request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.teachers;
          allow create: if request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.teachers
            && exists(/databases/$(database)/documents/groups/$(groupId)/resources/$(resourceId)/answers/$(answerId))
            && request.resource.data.edited == false;
          allow update: if request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.teachers
            && request.resource.data.edited == true;
        }
      }

      match /drafts/{draftId} {
       	allow read, write: if request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.students
       		|| request.auth.uid in get(/databases/$(database)/documents/groups/$(groupId)).data.teachers;
      }
    }

    match /group-join-codes/{id}/{document=**} {
    	allow read, create, delete: if request.auth.uid != null && request.auth.uid in get(resource.data.group).data.teachers;
      allow update: if request.auth.uid != null && request.auth.uid in get(resource.data.group).data.teachers && request.resource.data.group == resource.data.group;
    }
  }
}
