service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;

      match /answers/{groupId}/{resourceId}/{answerId}/{allPaths=**} {
        allow create, get: if auth.user !== null;
      }
    }
  }
}
